
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

html, body {
    background: #f5f5f5;
}

.nav_bar {
    position: fixed;
    background-color: #101316;
    height: 70px;
    line-height: 60px;
    width: 100%;
    -moz-transition-property: top;
    -o-transition-property: top;
    -webkit-transition-property: top;
    transition-property: top;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    left: 0;
    top: 0;
}

.logo {
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo img {
    height: 50px;
    width: 74px;
    vertical-align: middle;
}

.wrapWidth {
    width: 290px !important;
    height: auto !important;
    top: 70px !important;
    left: 0 !important;
    bottom: 0;
    right: 0;
    margin: auto;
}

#wrapper {
    margin-top: 110px;
}

.hidden {
    display: none;
}

form .capture_form_item {
    padding: 0 !important;
    margin: 0 0 40px !important;
    min-height: 0 !important;
    position: relative;
}

form .capture_form_item input {
    font-family: "HelveticaNeue75Bold", "HelveticaNeue55Roman", Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 7px 0 !important;
    background: none !important;
    margin: 0 !important;
    border: 0;
    width: 100% !important;
    border-bottom: 1px solid rgba(159, 169, 179, 0.6);
    color: #9FA9B3;
    transition: all 0.1s ease-in-out;
    border-radius: 0; 
}

form .capture_form_item input::-webkit-input-placeholder {
    color: rgba(159, 169, 179, 0.4);
}

form .capture_form_item input:-moz-placeholder {
    color: rgba(159, 169, 179, 0.4);
}

form .capture_form_item input::-moz-placeholder {
    color: rgba(159, 169, 179, 0.4);
}

form .capture_form_item input:-ms-input-placeholder {
    color: rgba(159, 169, 179, 0.4);
}

form .capture_form_item input:hover, form .capture_form_item input:focus {
    border-bottom: 1px solid #9FA9B3;
    outline: 0;
    color: #1B2024;
}

form .capture_form_item label {
    display: block;
    color: #9FA9B3;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
    font-family: "HelveticaNeue55Roman", Arial, sans-serif;
}

form .capture_form_item label:not(.newsletterLabel) {
    text-transform: uppercase;
}

form #createAccountSubmitBtn { 
    width: 100%;
    height: 40px !important;
    background: rgba(159, 169, 179, 0.2);
    border: 1px solid transparent;
    color: #ffffff;
    margin: 0 0 20px;
}

form #createAccountSubmitBtn.valid {
    background: #ffa900;
    border: 1px solid #ffa900;
    letter-spacing: 0.4px;
    font-family: "HelveticaNeue75Bold", "HelveticaNeue55Roman", Arial, sans-serif;
}

@media only screen and (min-width: 374px) {
    form .capture_form_item input {
        font-size: 15px;
        line-height: 15px;
    }: 
}

form .errorMsg {
    position: absolute;
    width: 100%;
    bottom: -15px;
    font-family: "HelveticaNeue55Roman", Arial, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    color: #DC4E41;
}

form .capture_form_item.error input {
    border-bottom: 1px solid #DC4E41;
}

.messageVerification {
    max-width: 290px;
    padding:15px;
    font-family: "HelveticaNeue55Roman", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color:rgba(255, 255, 255, 0.7);
}

.verificationSuccess {
    border: 1px solid #5E9632;
    border-radius: 2px;
    color: #5E9632;
}

.verificationError {
    border: 1px solid #D20000;
    border-radius: 2px;
    color: #D20000;
}

.spinner {
    font-size: 38px;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    position:
    absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.closeFaqs .spinner {
    width: 30px;
    height: 30px;
}

.spinner .spinner-blade {
    position: absolute;
    left: 0.5em;
    bottom: 0;
    width: 0.075em;
    height: 0.23em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    -webkit-animation: spinner-fade 1s infinite linear;
    animation: spinner-fade 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); 
}

.spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.spinner-msg {
    position: relative;
    top: 50px;
    left: -5px;
    font-family: "HelveticaNeue55Roman", Arial, sans-serif;
    font-size: 15px;
    color: #101316;
}

@-webkit-keyframes spinner-fade { 0% { background-color: #101316; }
  100% { background-color: transparent; } }
@keyframes spinner-fade { 0% { background-color: #101316; }
