html, body {
    background: #f5f5f5;
}

.center {
    margin: 0 auto;
    width: 80%;
}

h1 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin: 20px 0;
    display: inline-block;
}

#userTable thead tr th{
    cursor: pointer;
}

#userTable tbody tr:hover {
    background-color: #ffff99;
}

.view {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#dialog {
    display:none;
}
